#deg
#grad
rad
sci=false
base=10
tau=false
polar=false
frac=true
rt=true
deci=12
ticks=20
color=true
prompt=true
comma=false
prec=512
graphprec=64
frac_iter=50
xr=-10,10
yr=-10,10
zr=-10,10
2d=20000
3d=300,300
point=.
line=false
graph=true
multi=true
tabbed=false
vars=true
debug=false
small_e=false
depth=false
flat=false
surface=false
#decides if it should multiply 2 vars next to each other without spaces, say kg as k*g
var_multiply=false
#time to process until realtime printing stops in milliseconds
slowcheck=250
#https://en.wikipedia.org/wiki/ANSI_escape_code#Colors
textc=0m
promptc=94m
imagc=93m
scic=92m
bracketc=91m,92m,93m,94m,95m,96m
#graph line color
re1col=#ff5555
re2col=#5555ff
re3col=#ff55ff
re4col=#55ff55
re5col=#55ffff
re6col=#ffff55
im1col=#aa0000
im2col=#0000aa
im3col=#aa00aa
im4col=#00aa00
im5col=#00aaaa
im6col=#aaaa00