#options are deg/rad/grad
angle=rad
#options are n(ormal), s(cientific), e/E, for scientific notation
notation=n
#options are normal, domain, depth, flat, none
graph=normal
progress=false
keepzeros=false
base=10,10
polar=false
#fractions for numbers
fractions=true
#fractions for vectors
fractionsv=true
#fractions for matrixes
fractionsm=false
rt=true
deci=12
ticks=16,16,16
#no color if non interactive
color=auto
prompt=true
comma=false
prec=512
graphprec=128
xr=-8,8
yr=-8,8
zr=-8,8
vxr=0,0
vyr=0,0
vzr=0,0
2d=8192
3d=256,256
point=.
#no lines unless vectors are being graphed
lines=auto
multi=true
tabbed=false
vars=true
debug=false
surface=false
onaxis=true
scalegraph=false
#wont go into interactive shell after executing args
interactive=false
label=x,y,z
graphcli=false
units=true
siunits=false
windowsize=0,0
saveto=null
#time to process until realtime printing stops in milliseconds
slowcheck=256
#https://en.wikipedia.org/wiki/ANSI_escape_code#Colors
textc=0m
promptc=94m
imagc=93m
scic=92m
unitsc=96m
bracketc=91m,92m,93m,94m,95m,96m
#graph line color
re1col=ff5555,5555ff,ff55ff,55ff55,55ffff,ffff55
im1col=aa0000,0000aa,aa00aa,00aa00,00aaaa,aaaa00